@using WebUI.Resources.Constants
@typeparam TEnum
@inject IStringLocalizer<Constants> Localize;

<div class="border rounded p-3 d-flex flex-column">
    @foreach (TEnum value in Enum.GetValues(typeof(TEnum)))
    {
        <label>
            <input
                type="checkbox"
                checked="@Equals(value, SelectedValue)"
                @onchange="() => HandleValueChanged(value)"/>
            @Localize[value.ToString()!]
        </label>
    }
</div>

@code {

    [Parameter]
    public TEnum SelectedValue { get; set; } = default!;

    [Parameter]
    public EventCallback<TEnum> ValueChanged { get; set; }

    private async Task HandleValueChanged(object value)
    {
        SelectedValue = (TEnum)value;
        await ValueChanged.InvokeAsync((TEnum)value);
    }

}