@using WebUI.Resources.Pages
@using WebUI.Models.SalaryCalculator
@using System.Globalization
@inject IStringLocalizer<SalaryCalculator> Localize;

<table class="table table-sm table-hover">
    <thead>
    <tr>
        <th>@Localize[nameof(SalaryCalculator.Monthly)]</th>
        <th class="text-right">@Model.Currency.ToString()</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var dataItem in Model.GetAllValues())
    {
        <tr>
            <td class="fw-bolder">@Localize[dataItem.Key]</td>
            <td class="text-right">@dataItem.Value.ToString("0.00", CultureInfo.InvariantCulture)</td>
        </tr>
    }
    </tbody>
</table>

@code {

    [Parameter]
    public SalaryCalculatorResultModel Model { get; set; } = new();

}